body {
  background-color: lightgray;
}

tr:nth-child(even){
background: white;
}

.subjectHeader {
  color: blue;
  font-family: sans-serif;
}

#scoreBoard {
  border: solid black;
  border-width: 3px;
  content: center;
}

th {
  color: blue;
  text-align: center;
}

td {
  text-align: center;
}

ul {
  list-style-type: square;
}

a:hover {
  color: hotpink;
  text-decoration: none;
}

blockquote {
  background-color: darkgray;
  color: white;
}

#teamRoster li img{
  display: none;
}

li:first-child > ul {
  height: 120px;
  background-blend-mode: color;
  background-image: url("https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

li:last-child > ul {
  height: 120px;
  background-blend-mode: color;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

#checkbox-grid{
  list-style: none;
